
body {
    font-family: 'Cabin', sans-serif;
  font-size: 22px;
  background: #e5ffef;
}

.button{
    background: #becbd6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#becbd6), to(#8da5b7));
    background: -moz-linear-gradient(#becbd6, #8da5b7);
    background: linear-gradient(#becbd6, #8da5b7);
    border: solid 1px #a1aeb7;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #d8e0e6;
    color: #515f6a;
    text-shadow: 0 1px 0 #c4d0da;
}

.button:hover {
    background: #97adbd;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#97adbd), to(#a8bac8));
    background: -moz-linear-gradient(#97adbd, #a8bac8);
    background: linear-gradient(#97adbd, #a8bac8);
    border: solid 1px #96a2ab;
    border-bottom: solid 3px #62727e;
    box-shadow: inset 0 0 0 1px #c0ced7; }

.button:active {
    background: #8fa6b6;
    background: -webkit-gradient(linear, 0 0, 0 bottom, from(#8fa6b6), to(#8aa0b0));
    background: -moz-linear-gradient(#8fa6b6, #8aa0b0);
    background: linear-gradient(#8fa6b6, #8aa0b0);
    border: solid 1px #606f7a;
    box-shadow: inset 0 10px 15px 0 #7e92a1; }

.answer{
    width: 70px;
}





.container-question{
  padding-right: 50px;
  padding-left: 50px;
}

.container-anwer{
  padding: 50px;
}

th, td {
    padding: 15px;
    align-content: center;
}


.progressTable {
    margin: 10px;
    display: table;
    width: 100%;
    position: relative;
}

.progressRow {
    display: table-row;
}

.progressStep {
    border: 1px solid black;
    height: auto;
    background: #c8caca;
    display: table-cell;
    text-align: center;
    position: relative;
}

.future{
    background: #c8caca;
}

.active{
    background: #0c80f7;
}

.before{
    background: #2ef735;
}



